<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SIMS</display-name>
  
	<context-param>
		<param-name>registerName</param-name>
		<param-value>sims</param-value>
	</context-param>
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	classpath:com/tech/sims/context/customApplicationSecurity.xml
        	classpath:com/tech/sims/context/customApplicationContext.xml
        </param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Spring Security Filter - Start -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Spring Security Filter - End -->
        		
	<!-- Context Mapping - Start -->
	<servlet>
	    <display-name>simsViewController</display-name>   
		<servlet-name>simsViewController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:com/tech/sims/context/customApplicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>simsViewController</servlet-name>
		<url-pattern>/sims/*</url-pattern>
	</servlet-mapping>
	<!-- Context Mapping - End -->
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>  
  
</web-app>